.page-section {
  min-height: 100vh;
  padding: 4rem;
  background: linear-gradient(135deg, #1c1c1c, #434343);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ffff;
  flex-direction: column;
  text-align: center;
}

.page-section h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 20px #ff00ff, 0 0 30px #00ffff;
}