* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  overflow-x: hidden;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}